{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Book List {% endblock title %}

{% block content %}
<h2>Book List</h2>

<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
     {% for obj in books %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.title}}</td>
                <td>{{obj.author}}</td>
            </tr>
    {% endfor %}

</table>

{% endblock content %}